<div class="col-12 text-center">
  <button class="btn btn-info mb-2" styleSheetFile="../node_modules/bootstrap/dist/css/bootstrap.min.css" [useExistingCss] = "true" printSectionId="print-section" ngxPrint>Descargar</button>
</div>
<div class="container-fluid mt-3" id="print-section">
  <div class="card bg-light">
    <div class="row">
      <div class="col-3">
        <img width="150" height="150" class="rounded-circle" src="../../../../../assets/img/img.png" alt="">
      </div>
      <div class="col-7 h4 mt-4">
          REPÚBLICA BOLIVARIANA DE VENEZUELA <br>
          MINISTERIO DEL PODER POPULAR PARA LA DEFENSA <br>
          VICEMINISTRO DE SERVICIOS PARA LA DEFENSA <br>
          DIRECCIÓN GENERAL DE EMPRESAS Y SERVICIOS <br>
          FUERZA ARMADA NACIONAL BOLIVARIANA <br>
          RIF: G20003694-3
      </div>
      <div class="col-12 h4">
        <b>HOJA DE SOLVENCIA</b> <br>
      </div>
      <div class="col-12 h6">
        Solvencia para la tramitación de la carta de finiquito del capital colocado en la entidad fiduciaria respectiva (Fidecomiso).
      </div>
      <div class="col-1"></div>
      <div class="col-6 h6" style="text-align: left;">
        APELLIDOS Y NOMBRES: {{allPost2.apellidoprimero}}, {{allPost2.nombreprimero}}
      </div>
      <div class="col-5 h6">
        CÉDULA: {{allPost2.nacionalidad}}-{{allPost.id}}
      </div>
      <div class="col-1"></div>
      <div class="col-6 h6">
        COMPONENTE: {{allComponente.descripcion}}
      </div>
      <div class="col-5 h6">
        GRADO: {{allGrado.descripcion}}
      </div>
      <div class="col-1"></div>
      <div class="col-6 h6">
        TIEMPO DE SERVICIO: {{allPost.tiemposervicio}}
      </div>
      <div class="col-5 h6">
        CORREO ELECTRONICO:{{Cor.principal}}
      </div>
      <div class="col-1"></div>
      <div class="col-6 h6">
        TÉLEFONO (S): {{Tel.movil}} / {{Tel.domiciliario}}
      </div>

      <div class="col-12 h6">
        1- GERENCIA DE FILIACIÓN: el personal militar que tenga menos de 15 años de servicio deberá entregar los carnet de todos los familiares registrados
      </div>
      <div class="col-1"></div>
      <div class="col-4 h6">
        <label><b>PB</b></label>
        <mat-radio-group class="espacio" aria-label="Select an option">
          <mat-radio-button  value="1"> Sí </mat-radio-button>
          <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3 text-center h6">
        SELLO
      </div>
      <div class="col-3 text-center h6  ">
        FIRMA AUTORIZADO <br>
          CARGO <br>
          FECHA
      </div>

      <div class="col-12 h6 mt-3">
        2- GERENCIA DE BIENESTAR SOCIAL: indicar si posee medida de embargo sobre la asignacion de atigüedad (Aplica para todo el personal Militar).
      </div>
      <div class="col-1"></div>
      <div class="col-4 h6">
        <label><b>PB</b></label>
        <mat-radio-group class="espacio" aria-label="Select an option">
          <mat-radio-button  value="1"> Sí </mat-radio-button>
          <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3 text-center h6">
        SELLO
      </div>
      <div class="col-3 text-center h6  ">
        FIRMA AUTORIZADO <br>
          CARGO <br>
          FECHA
      </div>

      <div class="col-12 h6 mt-3">
        3- GERENCIA DEL SISA: Indicar si posee deudas donde compromete la asignacion de antigüedad (Aplica para todo el personal Militar).
      </div>
      <div class="col-1"></div>
      <div class="col-4 h6">
        <label><b>PB</b></label>
        <mat-radio-group class="espacio" aria-label="Select an option">
          <mat-radio-button  value="1"> Sí </mat-radio-button>
          <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3 text-center h6">
        SELLO
      </div>
      <div class="col-3 text-center h6  ">
        FIRMA AUTORIZADO <br>
          CARGO <br>
          FECHA
      </div>

      <div class="col-12 h6 mt-3">
        4- GERENCIA DE VIVIENDA: Indicar si posee Vivienda en Guardición (Aplica para todo el personal Militar).
      </div>
      <div class="col-1"></div>
      <div class="col-4 h6">
        <label><b>PB</b></label>
        <mat-radio-group class="espacio" aria-label="Select an option">
          <mat-radio-button  value="1"> Sí </mat-radio-button>
          <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3 text-center h6">
        SELLO
      </div>
      <div class="col-3 text-center h6  ">
        FIRMA AUTORIZADO <br>
          CARGO <br>
          FECHA
      </div>

      <div class="col-12 h6 mt-3">
        5- GERENCIA DE FINANZAS: Indicar si posee deudas donde compromete la asignación de Antigüedad (Aplica para todo el personal Militar).
      </div>
      <div class="col-1"></div>
      <div class="col-4 h6">
        <label><b>PB</b></label>
        <mat-radio-group class="espacio" aria-label="Select an option">
          <mat-radio-button  value="1"> Sí </mat-radio-button>
          <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3 text-center h6">
        SELLO
      </div>
      <div class="col-3 text-center h6  ">
        FIRMA AUTORIZADO <br>
          CARGO <br>
          FECHA
      </div>
      <div class="col-12 h6 mt-3 mb-2">
        6-INVERSORA HORIZONTE Y SEGUROS HORIZONTE: Indicar si posee deusa donde la asignación de Antigüedad (Aplica para todo el personal Militar).
      </div>
      <div class="col-1"></div>
      <div class="col-4 h6">
        <label><b>PB</b></label>
        <mat-radio-group class="espacio" aria-label="Select an option">
          <mat-radio-button  value="1"> Sí </mat-radio-button>
          <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-3 text-center h6">
        SELLO
      </div>
      <div class="col-3 text-center h6">
        FIRMA AUTORIZADO <br>
          CARGO <br>
          FECHA
      </div>
      <div class="col-12 h4 mt-5">
        <b>NOTA:DEBE INCLUIR LA COPIA DEL COMPROBANTE DE PRESENTACIÓN DE LA DECLARACIÓN JURADA DE PATRIMONIO POR CESE DE FUNCIONES. CORREO ELECTRONICO. fideicomiso_byss@hotmail.com</b> <br>
        <br class="mt-5"> Dirección: avenida los Próceres, Edif. Sede del IPSFA. Gerencia de Afiliación Planta Baja. Santa Mónica, municipio Libertador del Distrito Capital. Télefonos: (0212) 609-23-10 / 609-23-11 / 609-23-12
      </div>
    </div>
  </div>
</div>