<div class="col-12 text-center">
  <button class="btn btn-info mb-2" styleSheetFile="../node_modules/bootstrap/dist/css/bootstrap.min.css" [useExistingCss] = "true" printSectionId="print-section" ngxPrint>Descargar</button>
</div>
<div class="container-fluid mt-3" id="print-section">
  <div class="card bg-light">
    <div class="row">
      <div class="col-3">
        <img width="150" height="150" class="rounded-circle" src="../../../../../assets/img/img.png" alt="">
      </div>
      <div class="col-7 h4 mt-4">
          REPÚBLICA BOLIVARIANA DE VENEZUELA <br>
          MINISTERIO DEL PODER POPULAR PARA LA DEFENSA <br>
          VICEMINISTRO DE SERVICIOS PARA LA DEFENSA <br>
          DIRECCIÓN GENERAL DE EMPRESAS Y SERVICIOS <br>
          FUERZA ARMADA NACIONAL BOLIVARIANA <br>
          RIF: G20003694-3
      </div>
      <div class="col-12 h4">
          <b>HOJA DE SOLVENCIA</b> <br>
            TRAMITE DE PASE A RETIRE <br>
            AVALADAS POR EL IPSFA
      </div>
      <div class="col-1"></div>
      <div class="col-10 h6 ">
        <b>DATOS DEL AFILIADO</b>
      </div>
      <div class="col-1"></div>
      <div class="col-1"></div>
        
        <div class="col-3 h4 groove mb">
          GRADO / JERARQUIA <br>
          <b> {{allGrado.descripcion}}</b>
        </div>
        <div class="col-4 h4 groove mb">
          APELLIDOS Y NOMBRES <br>
          <b>{{allPost2.apellidoprimero}}, {{allPost2.nombreprimero}}</b>
        </div>
        <div class="col-3 h4 groove mb">
          CÉDULA DE IDENTIDAD <br>
          <b>{{allPost2.nacionalidad}}-{{allPost.id}}</b>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 h4 groove mb">
          COMPONENTE <br>
          <b>{{allComponente.descripcion}}</b>
        </div>
        <div class="col-4 h4 groove mb">
          TÉLEFONO <br>
          <b>{{Tel.movil}}</b>
        </div>
        <div class="col-3 h4 groove mb">
          FIRMA DEL AFILIADO <br>
        </div>
        <div class="col-12 h4 mt-5">
          <label class="text-center"><b>GERENCIA DE AFILIACIÓN (APLICA PARA TODO EL PERSONAL MILITAR)</b></label>
        </div>
        <div class="col-1"></div>
        <div class="col-7 h4 groove mb">
          TIEMPO DE SERVIVIO: 
        </div>
        <div class="col-3 h6 groove mb">
          {{allPost.tiemposervicio}}
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 h6 groove mb">
          VERIFICACIÓN EN EL SISTEMA: 
          <mat-radio-group class="espacio" aria-label="Select an option">
            <mat-radio-button  value="1"> Sí </mat-radio-button>
            <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          APELLIDOS Y NOMBRES DEL JEFE DE AREA
        </div>
        <div class="col-2 h5 groove mb">
          FIRMA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-2 h5 groove mb">
          SELLO:
          <br><br><br><br><br><br>
        </div>
        <div class="col-1 h5 groove mb">
          FECHA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-12 h4 mt-4">
          <label class="text-center"><b>GERENCIA DE BIENESTAR Y SEGURIDAD SOCIAL (APLICA PARA TODO EL PERSONAL MILITAR)</b></label>
        </div>
        <div class="col-1"></div>
        <div class="col-7 h6 groove mb">
          MEDIDAS DE EMBARGO: 
          <mat-radio-group class="espacio" aria-label="Select an option">
            <mat-radio-button  value="1"> Sí </mat-radio-button>
            <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-3 h6 groove mb">
          MONTOS Bs.:
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-7 h6 groove mb">
          DESCRIPCIÓN
        </div>
        <div class="col-3 h6 groove mb"> </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-7 h6 groove mb">
          MONTO 5% PENSIONES:
        </div>
        <div class="col-3 h6 groove mb"> </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-7 h6 groove mb">
          MONTO FIDEICOMISO:
        </div>
        <div class="col-3 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-7 h6 groove mb">
          <b>TOTAL:</b> 
        </div>
        <div class="col-3 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 h6 groove mb">
          OBSERVACIONES:
          <br><br>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          APELLIDOS Y NOMBRES DEL JEFE DE AREA
        </div>
        <div class="col-2 h5 groove mb">
          FIRMA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-2 h5 groove mb">
          SELLO:
          <br><br><br><br><br><br>
        </div>
        <div class="col-1 h5 groove mb">
          FECHA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-12 h4 mt-4">
          <label class="text-center"><b>GERENCIA DE VIVIENDA (APLICA PARA TODO EL PERSONAL MILITAR)</b></label>
        </div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          USUARIO DE VIVIENDA:
          <mat-radio-group class="espacio" aria-label="Select an option">
            <mat-radio-button  value="1"> Sí </mat-radio-button>
            <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-5 h6 groove mb">
          PRESENTO SOLVENCIA:
          <mat-radio-group class="espacio" aria-label="Select an option">
            <mat-radio-button  value="1"> Sí </mat-radio-button>
            <mat-radio-button class="espacio" value="2"> No </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 h6 groove mb">
          CONVENIO DE ENTREGA:
        </div>
        <div class="col-7 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 h6 groove mb">
          OBSERVACIONES
          <br><br>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          APELLIDOS Y NOMBRES DEL JEFE DE AREA
        </div>
        <div class="col-2 h5 groove mb">
          FIRMA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-2 h5 groove mb">
          SELLO:
          <br><br><br><br><br><br>
        </div>
        <div class="col-1 h5 groove mb">
          FECHA:
          <br><br><br><br><br><br>
        </div>
        
        <div class="col-12 h4 mt-5">
          <b>GERENCIA DEL SISA (APLICA A TODO EL PERSONAL MILITAR)</b>
        </div>
        <div class="col-1"></div>
        <div class="col-3 h4 groove mb">
          DESCRIPCIÓN
        </div>
        <div class="col-7 h4 groove mb"> MONTOS Bs.:</div>

        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 h6 groove mb">
          PRESTAMO ESPECIAL:
        </div>
        <div class="col-7 h6 groove mb"></div>

        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 h6 groove mb">
          PRESTAMO EFECTIVO:
        </div>
        <div class="col-7 h6 groove mb"></div>

        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 h6 groove mb">
          CREDITO COMERCIAL:
        </div>
        <div class="col-7 h6 groove mb"></div>

        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-3 h6 groove mb">
          <b>TOTAL:</b>
        </div>
        <div class="col-7 h6 groove mb"></div>

        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 h6 groove mb">
          OBSERVACIONES
          <br><br>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          APELLIDOS Y NOMBRES DEL JEFE DE AREA
        </div>
        <div class="col-2 h5 groove mb">
          FIRMA:
          <br><br><br><br><br>
        </div>
        <div class="col-2 h5 groove mb">
          SELLO:
          <br><br><br><br><br>
        </div>
        <div class="col-1 h5 groove mb">
          FECHA:
          <br><br><br><br><br>
        </div>
        <div class="col-12 h4 mt-4">
          <label class="text-center"><b>GERENCIA DE FINANZAS (NO APLICA AL PERSONAL PERSONAL MILITAR CON MAS DE 15 AÑOS DE SERVICIO)</b></label>
        </div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          DESCRIPCIÓN, VERIFICACIÓN Y CONFOMACIÓN CON EL ESTADO DE CUENTA DE COBRANZA:
        </div>
        <div class="col-5 h4 groove mb"> MONTOS Bs.:</div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          PRESTAMO ESPECIAL:
        </div>
        <div class="col-5 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          OTROS CREDITOS:
        </div>
        <div class="col-5 h4 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb"><br></div>
        <div class="col-5 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb"><br></div>
        <div class="col-5 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb"><br></div>
        <div class="col-5 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb"><br></div>
        <div class="col-5 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          <b>TOTAL:</b>
        </div>
        <div class="col-5 h6 groove mb"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 h6 groove mb">
          OBSERVACIONES
          <br><br>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          APELLIDOS Y NOMBRES DEL JEFE DE AREA
        </div>
        <div class="col-2 h5 groove mb">
          FIRMA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-2 h5 groove mb">
          SELLO:
          <br><br><br><br><br><br>
        </div>
        <div class="col-1 h5 groove mb">
          FECHA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-12 h4 mt-4">
          <label class="text-center"><b>OPINIÓN DEL PRESIDENTE DEL INSTITUTO DE PREVENSIÓN SOCIAL DE LA FUERZA ARMADA NACIONAL BOLIVARIANA</b></label>
        </div>
        <div class="col-1"></div>
        <div class="col-10 groove mb"><br><br></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 groove mb"><br><br></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10 groove mb"><br><br></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-5 h6 groove mb">
          APELLIDOS Y NOMBRES DEL JEFE DE AREA
        </div>
        <div class="col-2 h5 groove mb">
          FIRMA:
          <br><br><br><br><br><br>
        </div>
        <div class="col-2 h5 groove mb">
          SELLO:
          <br><br><br><br><br><br>
        </div>
        <div class="col-1 h5 groove mb">
          FECHA:
          <br><br><br><br><br><br>
        </div>
    </div>
  </div>
</div>