.img {
  background-image: url("../../../../../assets/img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.j{
  text-align: justify;
  text-justify: inter-word;
}

.l{
  text-align: right;
}

.margenes{
  margin-left: 0em;
  margin-top: 0em;
  margin-right: 0em;
}

.h4{
  margin: 0 0 -3px;
  text-align: center;
  font-size: 10px;
}


.h6{
  text-align: left;
  font-size: 13px;
}

.h5{
  text-align: justify;
  font-size: 12px;
}